* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background-color:  hsl(210, 46%, 95%);
}

#container{
    padding: 10% 3% 10% 3%;
    
}





#dans-container{
background-color: hsl(263, 55%, 52%);
color: white;
position: relative;

}

#joans-container{
background-color:  hsl(217, 19%, 35%);
color: white;

}

#jeans-container{
background-color: hsl(0, 0%, 100%);
color: hsl(219, 29%, 14%);
}

#pats-container{
background-color: hsl(219, 29%, 14%);
color: white;

}

#kira-container{
    background-color: hsl(0, 0%, 100%);
    color: hsl(219, 29%, 14%);
    
}

.grid-items{
    border-radius: 10px;
    margin-bottom: 3%;
    padding: 20px;
    box-shadow: 1px 1px 2px 1px rgb(0,0,0,0.4);
  
}



.header{
    display: flex;
   margin-right: 15px;
   padding-bottom: 20px;
   align-items: center
}


.header img{
border-radius: 50px;
margin-right: 15px;
border: 3px solid purple;
}

h3,h4{
    padding-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 600;
}

.grid-items p{
    opacity: 50%;
}



.header .name{
    opacity: 100%;
    font-size: 1.2rem;
}


@media (min-width: 576px) {
  
    #container{
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
    }

    #main-left{
        display: flex;
        flex-direction: column;
        flex-basis: 78%;
        
     
    }

    #kira-container{
       flex-basis: 19%;
       justify-content: space-between;
    }

    #container-1-2{
        display: flex;
        
        flex-basis: 50%;
        justify-content: space-between;
       
     
        
    }

    #container-3-4{
        display: flex;
        flex-basis: 50%;
        justify-content: space-between;
      
       

    }
  
     #dans-container{
        
        flex-basis: 68%;

     }

     #joans-container{
        flex-basis: 30%;

    }


  
    
    #jeans-container{
       
        flex-basis: 25%;
          

    }


    #pats-container{
        flex-basis: 73%;
       
        
    }
    
 




}